* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1800px;
  margin: auto;
}
.wrapper {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .container {
    width: 95%;
    padding: 0 15px;
  }
  .wrapper {
    width: 100%;
  }
}
.loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 100;
}
